PORT=8000
MONGO_URI=mongodb+srv://TaskManage:2012@cluster0.xgvqbym.mongodb.net/Taskfyer?appName=Cluster0
JWT_SECRET=my_super_secret_key_123
CLIENT_URL=http://localhost:3000
USER_EMAIL=your_email
EMAIL_PASS=your_email_password